# AVIK CHAKRABORTY
# UID : 23MSM40025
## EXPERIMENT - 9

# Importing the Libraries

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import cross_val_score, GridSearchCV
from sklearn.metrics import accuracy_score, make_scorer
from sklearn.preprocessing import StandardScaler, MinMaxScaler

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier

# Importing the dataset

In [ ]:
df = pd.read_csv(r"heart.csv")

In [ ]:
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,59,1,1,140,221,0,1,164,1,0.0,2,0,2,1
1021,60,1,0,125,258,0,0,141,1,2.8,1,1,3,0
1022,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1
1024,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0

In [ ]:
scal=MinMaxScaler()
feat=['age', 	'sex', 	'cp', 'trestbps', 'chol', 	'fbs', 	'restecg', 	'thalach' ,	'exang', 	'oldpeak' ,	'slope', 	'ca', 'thal']
df[feat] = scal.fit_transform(df[feat])
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,0.479167,1.0,0.0,0.292453,0.196347,0.0,0.5,0.740458,0.0,0.161290,1.0,0.50,1.000000,0
1,0.500000,1.0,0.0,0.433962,0.175799,1.0,0.0,0.641221,1.0,0.500000,0.0,0.00,1.000000,0
2,0.854167,1.0,0.0,0.481132,0.109589,0.0,0.5,0.412214,1.0,0.419355,0.0,0.00,1.000000,0
3,0.666667,1.0,0.0,0.509434,0.175799,0.0,0.5,0.687023,0.0,0.000000,1.0,0.25,1.000000,0
4,0.687500,0.0,0.0,0.415094,0.383562,1.0,0.5,0.267176,0.0,0.306452,0.5,0.75,0.666667,0

In [ ]:
x = df.drop(columns= ["target"], axis= 1)
y = df["target"]

In [ ]:
x

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,0.479167,1.0,0.000000,0.292453,0.196347,0.0,0.5,0.740458,0.0,0.161290,1.0,0.50,1.000000
1,0.500000,1.0,0.000000,0.433962,0.175799,1.0,0.0,0.641221,1.0,0.500000,0.0,0.00,1.000000
2,0.854167,1.0,0.000000,0.481132,0.109589,0.0,0.5,0.412214,1.0,0.419355,0.0,0.00,1.000000
3,0.666667,1.0,0.000000,0.509434,0.175799,0.0,0.5,0.687023,0.0,0.000000,1.0,0.25,1.000000
4,0.687500,0.0,0.000000,0.415094,0.383562,1.0,0.5,0.267176,0.0,0.306452,0.5,0.75,0.666667
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,0.625000,1.0,0.333333,0.433962,0.216895,0.0,0.5,0.709924,1.0,0.000000,1.0,0.00,0.666667
1021,0.645833,1.0,0.000000,0.292453,0.301370,0.0,0.0,0.534351,1.0,0.451613,0.5,0.25,1.000000
1022,0.375000,1.0,0.000000,0.150943,0.340183,0.0,0.0,0.358779,1.0,0.161290,0.5,0.25,0.666667
1023,0.437500,0.0,0.000000,0.150943,0.292237,0.0,0.0,0.671756,0.0,0.000000,1.0,0.00,0.666667
1024,0.520833,1.0,0.000000,0.245283,0.141553,0.0,0.5,0.320611,0.0,0.225806,0.5,0.25,1.000000

In [ ]:
y

0       0
1       0
2       0
3       0
4       0
       ..
1020    1
1021    0
1022    0
1023    1
1024    0
Name: target, Length: 1025, dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size= 0.2, random_state= 42)

In [ ]:
x_train

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
835,0.416667,1.0,0.666667,0.226415,0.052511,0.0,0.0,0.419847,0.0,0.129032,1.0,0.75,0.666667
137,0.729167,0.0,0.000000,0.811321,0.454338,0.0,0.5,0.633588,1.0,0.000000,1.0,0.00,0.666667
534,0.520833,0.0,0.666667,0.132075,0.321918,0.0,0.0,0.732824,0.0,0.000000,1.0,0.00,0.666667
495,0.625000,1.0,0.000000,0.386792,0.246575,0.0,0.5,0.687023,0.0,0.080645,0.5,0.00,1.000000
244,0.458333,1.0,0.666667,0.292453,0.271689,1.0,0.0,0.725191,0.0,0.387097,0.5,0.00,0.666667
...,...,...,...,...,...,...,...,...,...,...,...,...,...
700,0.250000,1.0,0.666667,0.339623,0.200913,0.0,0.0,0.740458,0.0,0.322581,0.5,0.00,0.666667
71,0.666667,1.0,0.000000,0.433962,0.184932,0.0,0.0,0.511450,1.0,0.306452,1.0,0.25,1.000000
106,0.458333,1.0,0.000000,0.433962,0.394977,0.0,0.5,0.778626,1.0,0.258065,1.0,0.00,1.000000
270,0.291667,1.0,0.000000,0.150943,0.194064,0.0,0.5,0.687023,0.0,0.000000,1.0,0.00,1.000000
860,0.479167,1.0,0.000000,0.169811,0.237443,0.0,0.5,0.679389,0.0,0.000000,1.0,0.25,0.666667

In [ ]:
y_train

835    0
137    1
534    1
495    1
244    1
      ..
700    1
71     0
106    0
270    1
860    0
Name: target, Length: 820, dtype: int64

In [ ]:
models = [LogisticRegression(), KNeighborsClassifier(n_neighbors= 4), RandomForestClassifier(n_estimators= 5),SVC(kernel= "linear")]

In [ ]:
for model in models:
    cross_val_results = cross_val_score(model, x, y, cv = 10)
    print(f'Cross-Validation Results for {model} is : {cross_val_results}')
    print(f'Mean Accuracy: {round(cross_val_results.mean()*100,2)}%')
    print("_________________________________________________________");

Cross-Validation Results for LogisticRegression() is : [0.86407767 0.9223301  0.88349515 0.83495146 0.86407767 0.89215686
 0.81372549 0.83333333 0.76470588 0.79411765]
Mean Accuracy: 84.67%
_________________________________________________________
Cross-Validation Results for KNeighborsClassifier(n_neighbors=4) is : [0.91262136 0.90291262 0.9223301  0.89320388 0.84466019 0.92156863
 0.88235294 0.89215686 0.87254902 0.85294118]
Mean Accuracy: 88.97%
_________________________________________________________
Cross-Validation Results for RandomForestClassifier(n_estimators=5) is : [1.         1.         1.         1.         1.         1.
 1.         1.         0.97058824 1.        ]
Mean Accuracy: 99.71%
_________________________________________________________
Cross-Validation Results for SVC(kernel='linear') is : [0.84466019 0.91262136 0.85436893 0.81553398 0.85436893 0.88235294
 0.80392157 0.81372549 0.7745098  0.80392157]
Mean Accuracy: 83.6%
_________________________________________________________

## Random forest has the highest accuracy

## HyperParamter tuning of Logistic Regression

In [ ]:
log = LogisticRegression()
param_grid = {
    'C': [0.001, 0.01, 0.1, 1, 10, 100],  # Regularization parameter
    'penalty': ['l1', 'l2'],               # Penalty type
    'solver': ['liblinear', 'saga']       # Solver type
}
grid_search = GridSearchCV(estimator=log, param_grid=param_grid, cv=10, verbose=1)

grid_search.fit(x_train,y_train)

best_param = grid_search.best_estimator_
print("Best Hyperparameters:", grid_search.best_params_)

print("Accuracy:- ", best_param.score(x_test,y_test))

Fitting 10 folds for each of 24 candidates, totalling 240 fits
Best Hyperparameters: {'C': 100, 'penalty': 'l1', 'solver': 'liblinear'}
Accuracy:-  0.7951219512195122

## Hyperparamter tuning of SVC

In [ ]:
svm = SVC()

param_grid = {
    'C': [0.1, 1, 10, 100],          # Regularization parameter
    'kernel': ['linear', 'rbf'],     # Kernel type
    'gamma': ['scale', 'auto']       # Kernel coefficient
}

grid_search1 = GridSearchCV(estimator=svm, param_grid= param_grid, cv = 10, verbose= 1)
grid_search1.fit(x_train, y_train)

best_param_svm = grid_search1.best_estimator_
print("best parameter:- ", grid_search1.best_params_)

print("Accuracy for the best parameter:- ", best_param_svm.score(x_test, y_test))

Fitting 10 folds for each of 16 candidates, totalling 160 fits
best parameter:-  {'C': 100, 'gamma': 'scale', 'kernel': 'rbf'}
Accuracy for the best parameter:-  0.975609756097561

## Hyperparameter tuning of KNN

In [ ]:
knn = KNeighborsClassifier()

knn_grid={'n_neighbors': np.arange(1,30,1),
          'leaf_size': np.arange(1,50,1)}

gs_knn=GridSearchCV(KNeighborsClassifier(),param_grid=knn_grid,cv=5,verbose=True)

gs_knn.fit(x_train, y_train)

gs_knn.best_params_

print(f"Accuracy score:{gs_knn.score(x_test, y_test)*100}%")

Fitting 5 folds for each of 1421 candidates, totalling 7105 fits
Accuracy score:98.53658536585365%

## HyperParameter tuning of Random Forest

In [ ]:
rf = RandomForestClassifier()

param_grid = {
    'n_estimators': [100, 200, 300],    # Number of trees in the forest
    'max_depth': [None, 10, 20, 30],     # Maximum depth of the trees
    'min_samples_split': [2, 5, 10],     # Minimum number of samples required to split an internal node
    'min_samples_leaf': [1, 2, 4]        # Minimum number of samples required to be at a leaf node
}

rf_grid = GridSearchCV(rf, param_grid= param_grid, cv = 5, verbose= True)

rf_grid.fit(x_train,y_train)

best_param_rf = rf_grid.best_estimator_
print("Best parameter:- " , rf_grid.best_params_)

print("accuracy of the model is:- ", best_param_rf.score(x_test, y_test))

Fitting 5 folds for each of 108 candidates, totalling 540 fits
Best parameter:-  {'max_depth': 10, 'min_samples_leaf': 1, 'min_samples_split': 2, 'n_estimators': 200}
accuracy of the model is:-  0.9853658536585366

In [ ]:
model_comp = pd.DataFrame({'Model': ['Logistic Regression','Random Forest',
                    'K-Nearest Neighbour','Support Vector Machine'], 'Accuracy': [best_param.score(x_test,y_test)*100,
                    best_param_rf.score(x_test,y_test)*100,gs_knn.score(x_test, y_test)*100,best_param_svm.score(x_test, y_test)*100]})
model_comp

                    Model   Accuracy
0     Logistic Regression  79.512195
1           Random Forest  98.536585
2     K-Nearest Neighbour  98.536585
3  Support Vector Machine  97.560976

## After hyper parameter tuning we see that knn and random forest have the same accuracy score